---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
---

<a class="flex items-center" href="/">
  <Icon name="tabler:plane" class="w-8 h-8 text-accent mr-2" />
  <span
    class="text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
</a>
